.contenedor{
    display: grid;
    grid-gap: 20px;
    height: 800px;
    
    grid-template-columns: repeat(3,150px);
    grid-template-rows: repeat(3, 150px);

     /* Alinea toda la grilla
     justify-content: normal;           Alinea toda la grilla al inicio
     justify-content: start;            Alinea toda la grilla al inicio
     justify-content: end;              Alinea toda la final
     justify-content: center;           Alinea toda la grilla al centro
     justify-content: space-around;     Alinea toda la grilla al centro
     justify-content: space-between;    Alinea toda la grilla al centro
     justify-content: space-evenly;           Alinea toda la grilla al centro*/
    justify-content: space-evenly;


    align-content: space-evenly;
}