.contenedor {
  display: grid;
  grid-gap:20px;

     /* auto-fill va a rellenar la fila con todas las columnas que pueda porner dentro 
        utilizandola en vez de la cantidad de columnas del repeat()
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */

     /* auto-fit va a rellenar el espacio disponible con las columnas disponibles
     utilizandola en vez de la cantidad de columnas del repeat() */
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
 }