

.contenido >  div {
    
    max-width: 593px;
    max-height: 405;
    display: grid;
    gap: 0px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 60% 10% 25%;

    grid-template-areas: "foto  foto"
                            "cantidad carrito"
                            "datos datos";
}

.foto {
    
    justify-self: stretch;
    background: rgb(238, 224, 224);
    grid-area: foto;

}

