

.contenido >  div {
    
    max-width: 593px;
    max-height: 405;
    display: grid;
    gap: 0px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 60% 10% 25%;

    grid-template-areas: "foto  foto"
                            "cantidad carrito"
                            "datos datos";
}

.foto {
    margin: auto;
    grid-area: foto;

}

.cantidad {
    margin: auto;
}

.carrito {
    margin: auto;
}

.datos {
    margin: auto;
    grid-area: datos;
}
