.contenedor {
    display: grid;
    grid-gap:20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "header 		header 		header		header"
                         "sidebar-1 	contenido 	contenido	sidebar-2"
						 "sidebar-1 	widget 		widget		sidebar-2"
						 "footer		footer		footer		footer";
}

.contenedor .header {
    background: #ff8000;
    grid-column-start: header;
    grid-column-end: header;
}

.contenedor .sidebar-1 {
	background: #393e46;

	 /* Forma No 1
	grid-column-start: sidebar-1;
  	grid-column-end: sidebar-1;
	grid-row-start: sidebar-1;
	grid-row-end: sidebar-1; */

	 /* Forma No 2 
	grid-column: sidebar-1;
	grid-row: sidebar-1;*/

	 /* Forma No 3 */
	 grid-area: sidebar-1;
}

.contenedor .contenido {
	background: #fff;
	color: black;
	grid-area:contenido;
}

.contenedor .sidebar-2 {
	background: yellow;
	grid-area: sidebar-2;
}

.contenedor .widget {
	background: green;
	grid-area: widget;
}

.contenedor .footer {
	background: greenyellow;
	grid-area: footer;
}