* {
    margin: 0;
    padding: 0;
}

body {
    background: #cbd6f3;
    color: black;
    font-family: 'Roboto', sans-serif;
}


.contenedor {
    width: 100%;
    max-width: 1360px;
    margin: 10px auto;
    display: grid;
    gap: 0px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4,aut);

    /* grid-template-areas: 	"header	header	header header  header  header"
                          "sidebar	sidebar		sidebar   sidebar   sidebar   sidebar"
                          "contenido	contenido			contenido  contenido  contenido"
                          "footer			footer			footer    footer  footer  footer"; */
}


.contenedor > div {
  text-align: justify;
}

.contenedor .header, 
.contenedor .contenido, 
.contenedor .sidebar, 
.contenedor .footer {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
}

.contenedor .header {
    margin: 0px;
    height: 230px;
    background: #a1bb23;
    color: #fff;
    display: grid;
    grid-gap:5px;
    grid-template-columns: 190px 500px repeat(3, 1fr);
    
    /* grid-area: header; */

}

.logoheader {
  width: 188px;
  height:248px;
}

.header .buscador,
.header .carritodecompras,
.header .registrese,
.header .usuario {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buscador {
  width: 450px;
  /* display: flex;
  justify-content: start;
  align-items: center; */
}


input.tex_buscar{
  font-size: 20px;
  height: 35px;
  width: 450;
}

input.buscar {
  height: 35px;
  width: 450;
}

.carritodecompras {
  width="50";
  height="50":
}


.contenedor .sidebar {
    height: 267px;
    background: #FF9A36;
    display: grid;
    grid-gap:10px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    /* display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px; */
    /* grid-area: sidebar; */
}


.contenedor .contenido {
  height: 350px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
    /* grid-area: contenido; */
}


.contenedor .footer {
    height: 110px;
    /* grid-column: span 3; */
    background: #a1bb23;
    color:#fff;;
    display: flex;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-gap:10px;
    grid-template-columns: repeat(6, 1fr);
    justify-content: space-evenly;
    /* grid-area: footer; */
}


/* @media (max-width:768px) {
.contenedor {
  grid-template-areas: 	"header			header			header      header       header       header"
                        "sidebar	sidebar		sidebar   sidebar   sidebar   sidebar"
                        "widget1		widget2			sidebar"
                        "footer			footer			footer";
}
} */